<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>ain-arab</key>
  <string>ain-arab.glif</string>
  <key>ain-arab.fina</key>
  <string>ain-arab.fina.glif</string>
  <key>ain-arab.init</key>
  <string>ain-arab.init.glif</string>
  <key>ain-arab.medi</key>
  <string>ain-arab.medi.glif</string>
  <key>alef-arab</key>
  <string>alef-arab.glif</string>
  <key>alef-arab.fina</key>
  <string>alef-arab.fina.glif</string>
  <key>alef-arab.short</key>
  <string>alef-arab.short.glif</string>
  <key>alef-arab.short.fina</key>
  <string>alef-arab.short.fina.glif</string>
  <key>alefcomb-arab</key>
  <string>alefcomb-arab.glif</string>
  <key>alefhamzaabove-arab</key>
  <string>alefhamzaabove-arab.glif</string>
  <key>alefhamzaabove-arab.fina</key>
  <string>alefhamzaabove-arab.fina.glif</string>
  <key>alefhamzabelow-arab</key>
  <string>alefhamzabelow-arab.glif</string>
  <key>alefhamzabelow-arab.fina</key>
  <string>alefhamzabelow-arab.fina.glif</string>
  <key>alefmaddaabove-arab</key>
  <string>alefmaddaabove-arab.glif</string>
  <key>alefmaddaabove-arab.fina</key>
  <string>alefmaddaabove-arab.fina.glif</string>
  <key>alefmaksura-arab</key>
  <string>alefmaksura-arab.glif</string>
  <key>alefmaksura-arab.fina</key>
  <string>alefmaksura-arab.fina.glif</string>
  <key>alefwasla-arab</key>
  <string>alefwasla-arab.glif</string>
  <key>alefwasla-arab.fina</key>
  <string>alefwasla-arab.fina.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>arabicalefcomb</key>
  <string>arabicalefcomb.glif</string>
  <key>arabiccomma</key>
  <string>arabiccomma.glif</string>
  <key>arabicdammacomb</key>
  <string>arabicdammacomb.glif</string>
  <key>arabicdammatancomb</key>
  <string>arabicdammatancomb.glif</string>
  <key>arabicfathacomb</key>
  <string>arabicfathacomb.glif</string>
  <key>arabicfathatancomb</key>
  <string>arabicfathatancomb.glif</string>
  <key>arabichamzabelowcomb</key>
  <string>arabichamzabelowcomb.glif</string>
  <key>arabichamzabelowcomb_arabickasracomb</key>
  <string>arabichamzabelowcomb_arabickasracomb.glif</string>
  <key>arabichamzabelowcomb_arabickasratancomb</key>
  <string>arabichamzabelowcomb_arabickasratancomb.glif</string>
  <key>arabichamzacomb</key>
  <string>arabichamzacomb.glif</string>
  <key>arabichamzacomb_arabicdammacomb</key>
  <string>arabichamzacomb_arabicdammacomb.glif</string>
  <key>arabichamzacomb_arabicdammatancomb</key>
  <string>arabichamzacomb_arabicdammatancomb.glif</string>
  <key>arabichamzacomb_arabicfathacomb</key>
  <string>arabichamzacomb_arabicfathacomb.glif</string>
  <key>arabichamzacomb_arabicfathatancomb</key>
  <string>arabichamzacomb_arabicfathatancomb.glif</string>
  <key>arabichamzacomb_arabicsukuncomb</key>
  <string>arabichamzacomb_arabicsukuncomb.glif</string>
  <key>arabicindiceight-arab</key>
  <string>arabicindiceight-arab.glif</string>
  <key>arabicindicfive-arab</key>
  <string>arabicindicfive-arab.glif</string>
  <key>arabicindicfour-arab</key>
  <string>arabicindicfour-arab.glif</string>
  <key>arabicindicnine-arab</key>
  <string>arabicindicnine-arab.glif</string>
  <key>arabicindicone-arab</key>
  <string>arabicindicone-arab.glif</string>
  <key>arabicindicseven-arab</key>
  <string>arabicindicseven-arab.glif</string>
  <key>arabicindicsix-arab</key>
  <string>arabicindicsix-arab.glif</string>
  <key>arabicindicthree-arab</key>
  <string>arabicindicthree-arab.glif</string>
  <key>arabicindictwo-arab</key>
  <string>arabicindictwo-arab.glif</string>
  <key>arabicindiczero-arab</key>
  <string>arabicindiczero-arab.glif</string>
  <key>arabickasracomb</key>
  <string>arabickasracomb.glif</string>
  <key>arabickasratancomb</key>
  <string>arabickasratancomb.glif</string>
  <key>arabicmaddahcomb</key>
  <string>arabicmaddahcomb.glif</string>
  <key>arabicquestionmark</key>
  <string>arabicquestionmark.glif</string>
  <key>arabicsemicolon</key>
  <string>arabicsemicolon.glif</string>
  <key>arabicshaddacomb</key>
  <string>arabicshaddacomb.glif</string>
  <key>arabicshaddacomb_arabicalefcomb</key>
  <string>arabicshaddacomb_arabicalefcomb.glif</string>
  <key>arabicshaddacomb_arabicdammacomb</key>
  <string>arabicshaddacomb_arabicdammacomb.glif</string>
  <key>arabicshaddacomb_arabicdammatancomb</key>
  <string>arabicshaddacomb_arabicdammatancomb.glif</string>
  <key>arabicshaddacomb_arabicfathacomb</key>
  <string>arabicshaddacomb_arabicfathacomb.glif</string>
  <key>arabicshaddacomb_arabicfathatancomb.1</key>
  <string>arabicshaddacomb_arabicfathatancomb.1.glif</string>
  <key>arabicshaddacomb_arabickasracomb</key>
  <string>arabicshaddacomb_arabickasracomb.glif</string>
  <key>arabicshaddacomb_arabickasratancomb</key>
  <string>arabicshaddacomb_arabickasratancomb.glif</string>
  <key>arabicsukuncomb</key>
  <string>arabicsukuncomb.glif</string>
  <key>arabictatweelmod</key>
  <string>arabictatweelmod.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>beh-arab</key>
  <string>beh-arab.glif</string>
  <key>beh-arab.fina</key>
  <string>beh-arab.fina.glif</string>
  <key>beh-arab.init</key>
  <string>beh-arab.init.glif</string>
  <key>beh-arab.medi</key>
  <string>beh-arab.medi.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dad-arab</key>
  <string>dad-arab.glif</string>
  <key>dad-arab.fina</key>
  <string>dad-arab.fina.glif</string>
  <key>dad-arab.init</key>
  <string>dad-arab.init.glif</string>
  <key>dad-arab.medi</key>
  <string>dad-arab.medi.glif</string>
  <key>dal-arab</key>
  <string>dal-arab.glif</string>
  <key>dal-arab.fina</key>
  <string>dal-arab.fina.glif</string>
  <key>decimalseparator-arab</key>
  <string>decimalseparator-arab.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotlessbeh-arab</key>
  <string>dotlessbeh-arab.glif</string>
  <key>dotlessbeh-arab.fina</key>
  <string>dotlessbeh-arab.fina.glif</string>
  <key>dotlessbeh-arab.init</key>
  <string>dotlessbeh-arab.init.glif</string>
  <key>dotlessbeh-arab.medi</key>
  <string>dotlessbeh-arab.medi.glif</string>
  <key>dotlessfeh-arab</key>
  <string>dotlessfeh-arab.glif</string>
  <key>dotlessfeh-arab.fina</key>
  <string>dotlessfeh-arab.fina.glif</string>
  <key>dotlessfeh-arab.init</key>
  <string>dotlessfeh-arab.init.glif</string>
  <key>dotlessfeh-arab.medi</key>
  <string>dotlessfeh-arab.medi.glif</string>
  <key>dotlessqaf-arab</key>
  <string>dotlessqaf-arab.glif</string>
  <key>dotlessqaf-arab.fina</key>
  <string>dotlessqaf-arab.fina.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>feh-arab</key>
  <string>feh-arab.glif</string>
  <key>feh-arab.fina</key>
  <string>feh-arab.fina.glif</string>
  <key>feh-arab.init</key>
  <string>feh-arab.init.glif</string>
  <key>feh-arab.medi</key>
  <string>feh-arab.medi.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>fivepointedstar-arab</key>
  <string>fivepointedstar-arab.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>fullstop-arab</key>
  <string>fullstop-arab.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>ghain-arab</key>
  <string>ghain-arab.glif</string>
  <key>ghain-arab.fina</key>
  <string>ghain-arab.fina.glif</string>
  <key>ghain-arab.init</key>
  <string>ghain-arab.init.glif</string>
  <key>ghain-arab.medi</key>
  <string>ghain-arab.medi.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hah-arab</key>
  <string>hah-arab.glif</string>
  <key>hah-arab.fina</key>
  <string>hah-arab.fina.glif</string>
  <key>hah-arab.init</key>
  <string>hah-arab.init.glif</string>
  <key>hah-arab.medi</key>
  <string>hah-arab.medi.glif</string>
  <key>hamza-arab</key>
  <string>hamza-arab.glif</string>
  <key>heh-arab</key>
  <string>heh-arab.glif</string>
  <key>heh-arab.fina</key>
  <string>heh-arab.fina.glif</string>
  <key>heh-arab.init</key>
  <string>heh-arab.init.glif</string>
  <key>heh-arab.medi</key>
  <string>heh-arab.medi.glif</string>
  <key>hyphenminus</key>
  <string>hyphenminus.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>jeem-arab</key>
  <string>jeem-arab.glif</string>
  <key>jeem-arab.fina</key>
  <string>jeem-arab.fina.glif</string>
  <key>jeem-arab.init</key>
  <string>jeem-arab.init.glif</string>
  <key>jeem-arab.medi</key>
  <string>jeem-arab.medi.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>kaf-arab</key>
  <string>kaf-arab.glif</string>
  <key>kaf-arab.fina</key>
  <string>kaf-arab.fina.glif</string>
  <key>kaf-arab.init</key>
  <string>kaf-arab.init.glif</string>
  <key>kaf-arab.medi</key>
  <string>kaf-arab.medi.glif</string>
  <key>khah-arab</key>
  <string>khah-arab.glif</string>
  <key>khah-arab.fina</key>
  <string>khah-arab.fina.glif</string>
  <key>khah-arab.init</key>
  <string>khah-arab.init.glif</string>
  <key>khah-arab.medi</key>
  <string>khah-arab.medi.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>lam-arab</key>
  <string>lam-arab.glif</string>
  <key>lam-arab.fina</key>
  <string>lam-arab.fina.glif</string>
  <key>lam-arab.init</key>
  <string>lam-arab.init.glif</string>
  <key>lam-arab.medi</key>
  <string>lam-arab.medi.glif</string>
  <key>lam_alefwasla-arab</key>
  <string>lam_alefwasla-arab.glif</string>
  <key>lam_alefwasla-arab.fina</key>
  <string>lam_alefwasla-arab.fina.glif</string>
  <key>lamalef-arab.fina</key>
  <string>lamalef-arab.fina.glif</string>
  <key>lamalef-arab.isol</key>
  <string>lamalef-arab.isol.glif</string>
  <key>lamalefhamzaabove-arab.fina</key>
  <string>lamalefhamzaabove-arab.fina.glif</string>
  <key>lamalefhamzaabove-arab.isol</key>
  <string>lamalefhamzaabove-arab.isol.glif</string>
  <key>lamalefhamzabelow-arab.fina</key>
  <string>lamalefhamzabelow-arab.fina.glif</string>
  <key>lamalefhamzabelow-arab.isol</key>
  <string>lamalefhamzabelow-arab.isol.glif</string>
  <key>lamalefmaddaabove-arab.fina</key>
  <string>lamalefmaddaabove-arab.fina.glif</string>
  <key>lamalefmaddaabove-arab.isol</key>
  <string>lamalefmaddaabove-arab.isol.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>meem-arab</key>
  <string>meem-arab.glif</string>
  <key>meem-arab.fina</key>
  <string>meem-arab.fina.glif</string>
  <key>meem-arab.init</key>
  <string>meem-arab.init.glif</string>
  <key>meem-arab.medi</key>
  <string>meem-arab.medi.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>noon-arab</key>
  <string>noon-arab.glif</string>
  <key>noon-arab.fina</key>
  <string>noon-arab.fina.glif</string>
  <key>noon-arab.init</key>
  <string>noon-arab.init.glif</string>
  <key>noon-arab.medi</key>
  <string>noon-arab.medi.glif</string>
  <key>noonghunna-arab</key>
  <string>noonghunna-arab.glif</string>
  <key>noonghunna-arab.fina</key>
  <string>noonghunna-arab.fina.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>ornateparenleft</key>
  <string>ornateparenleft.glif</string>
  <key>ornateparenright</key>
  <string>ornateparenright.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>percentsign-arab</key>
  <string>percentsign-arab.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>qaf-arab</key>
  <string>qaf-arab.glif</string>
  <key>qaf-arab.fina</key>
  <string>qaf-arab.fina.glif</string>
  <key>qaf-arab.init</key>
  <string>qaf-arab.init.glif</string>
  <key>qaf-arab.medi</key>
  <string>qaf-arab.medi.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>reh-arab</key>
  <string>reh-arab.glif</string>
  <key>reh-arab.fina</key>
  <string>reh-arab.fina.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>sad-arab</key>
  <string>sad-arab.glif</string>
  <key>sad-arab.fina</key>
  <string>sad-arab.fina.glif</string>
  <key>sad-arab.init</key>
  <string>sad-arab.init.glif</string>
  <key>sad-arab.medi</key>
  <string>sad-arab.medi.glif</string>
  <key>seen-arab</key>
  <string>seen-arab.glif</string>
  <key>seen-arab.fina</key>
  <string>seen-arab.fina.glif</string>
  <key>seen-arab.init</key>
  <string>seen-arab.init.glif</string>
  <key>seen-arab.medi</key>
  <string>seen-arab.medi.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>sheen-arab</key>
  <string>sheen-arab.glif</string>
  <key>sheen-arab.fina</key>
  <string>sheen-arab.fina.glif</string>
  <key>sheen-arab.init</key>
  <string>sheen-arab.init.glif</string>
  <key>sheen-arab.medi</key>
  <string>sheen-arab.medi.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>symboldotaccentmod-arab</key>
  <string>symboldotaccentmod-arab.glif</string>
  <key>symboldotbelowmod-arab</key>
  <string>symboldotbelowmod-arab.glif</string>
  <key>symbolthreedotsabovemod-arab</key>
  <string>symbolthreedotsabovemod-arab.glif</string>
  <key>symboltwodotsabovemod-arab</key>
  <string>symboltwodotsabovemod-arab.glif</string>
  <key>symboltwodotsbelowmod-arab</key>
  <string>symboltwodotsbelowmod-arab.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>tah-arab</key>
  <string>tah-arab.glif</string>
  <key>tah-arab.fina</key>
  <string>tah-arab.fina.glif</string>
  <key>tah-arab.init</key>
  <string>tah-arab.init.glif</string>
  <key>tah-arab.medi</key>
  <string>tah-arab.medi.glif</string>
  <key>teh-arab</key>
  <string>teh-arab.glif</string>
  <key>teh-arab.fina</key>
  <string>teh-arab.fina.glif</string>
  <key>teh-arab.init</key>
  <string>teh-arab.init.glif</string>
  <key>teh-arab.medi</key>
  <string>teh-arab.medi.glif</string>
  <key>tehmarbuta-arab</key>
  <string>tehmarbuta-arab.glif</string>
  <key>tehmarbuta-arab.fina</key>
  <string>tehmarbuta-arab.fina.glif</string>
  <key>thal-arab</key>
  <string>thal-arab.glif</string>
  <key>thal-arab.fina</key>
  <string>thal-arab.fina.glif</string>
  <key>theh-arab</key>
  <string>theh-arab.glif</string>
  <key>theh-arab.fina</key>
  <string>theh-arab.fina.glif</string>
  <key>theh-arab.init</key>
  <string>theh-arab.init.glif</string>
  <key>theh-arab.medi</key>
  <string>theh-arab.medi.glif</string>
  <key>thousandsseparator-arab</key>
  <string>thousandsseparator-arab.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>veh-arab</key>
  <string>veh-arab.glif</string>
  <key>veh-arab.fina</key>
  <string>veh-arab.fina.glif</string>
  <key>veh-arab.init</key>
  <string>veh-arab.init.glif</string>
  <key>veh-arab.medi</key>
  <string>veh-arab.medi.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>waslaar</key>
  <string>waslaar.glif</string>
  <key>waw-arab</key>
  <string>waw-arab.glif</string>
  <key>waw-arab.fina</key>
  <string>waw-arab.fina.glif</string>
  <key>wawhamzaabove-arab</key>
  <string>wawhamzaabove-arab.glif</string>
  <key>wawhamzaabove-arab.fina</key>
  <string>wawhamzaabove-arab.fina.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>yeh-arab</key>
  <string>yeh-arab.glif</string>
  <key>yeh-arab.alt.init</key>
  <string>yeh-arab.alt.init.glif</string>
  <key>yeh-arab.alt.medi</key>
  <string>yeh-arab.alt.medi.glif</string>
  <key>yeh-arab.fina</key>
  <string>yeh-arab.fina.glif</string>
  <key>yeh-arab.init</key>
  <string>yeh-arab.init.glif</string>
  <key>yeh-arab.medi</key>
  <string>yeh-arab.medi.glif</string>
  <key>yehhamzaabove-arab</key>
  <string>yehhamzaabove-arab.glif</string>
  <key>yehhamzaabove-arab.fina</key>
  <string>yehhamzaabove-arab.fina.glif</string>
  <key>yehhamzaabove-arab.init</key>
  <string>yehhamzaabove-arab.init.glif</string>
  <key>yehhamzaabove-arab.medi</key>
  <string>yehhamzaabove-arab.medi.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zah-arab</key>
  <string>zah-arab.glif</string>
  <key>zah-arab.fina</key>
  <string>zah-arab.fina.glif</string>
  <key>zah-arab.init</key>
  <string>zah-arab.init.glif</string>
  <key>zah-arab.medi</key>
  <string>zah-arab.medi.glif</string>
  <key>zain-arab</key>
  <string>zain-arab.glif</string>
  <key>zain-arab.fina</key>
  <string>zain-arab.fina.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
</dict>
</plist>
