<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>space</string>
    <string>hamza-arab</string>
    <string>alef-arab</string>
    <string>alef-arab.fina</string>
    <string>alef-arab.short</string>
    <string>alef-arab.short.fina</string>
    <string>alefhamzaabove-arab</string>
    <string>alefhamzaabove-arab.fina</string>
    <string>alefhamzabelow-arab</string>
    <string>alefhamzabelow-arab.fina</string>
    <string>alefmaddaabove-arab</string>
    <string>alefmaddaabove-arab.fina</string>
    <string>alefwasla-arab</string>
    <string>alefwasla-arab.fina</string>
    <string>dotlessbeh-arab</string>
    <string>dotlessbeh-arab.fina</string>
    <string>dotlessbeh-arab.medi</string>
    <string>dotlessbeh-arab.init</string>
    <string>beh-arab</string>
    <string>beh-arab.fina</string>
    <string>beh-arab.medi</string>
    <string>beh-arab.init</string>
    <string>teh-arab</string>
    <string>teh-arab.fina</string>
    <string>teh-arab.medi</string>
    <string>teh-arab.init</string>
    <string>theh-arab</string>
    <string>theh-arab.fina</string>
    <string>theh-arab.medi</string>
    <string>theh-arab.init</string>
    <string>jeem-arab</string>
    <string>jeem-arab.fina</string>
    <string>jeem-arab.medi</string>
    <string>jeem-arab.init</string>
    <string>hah-arab</string>
    <string>hah-arab.fina</string>
    <string>hah-arab.medi</string>
    <string>hah-arab.init</string>
    <string>khah-arab</string>
    <string>khah-arab.fina</string>
    <string>khah-arab.medi</string>
    <string>khah-arab.init</string>
    <string>dal-arab</string>
    <string>dal-arab.fina</string>
    <string>thal-arab</string>
    <string>thal-arab.fina</string>
    <string>reh-arab</string>
    <string>reh-arab.fina</string>
    <string>zain-arab</string>
    <string>zain-arab.fina</string>
    <string>seen-arab</string>
    <string>seen-arab.fina</string>
    <string>seen-arab.medi</string>
    <string>seen-arab.init</string>
    <string>sheen-arab</string>
    <string>sheen-arab.fina</string>
    <string>sheen-arab.medi</string>
    <string>sheen-arab.init</string>
    <string>sad-arab</string>
    <string>sad-arab.fina</string>
    <string>sad-arab.medi</string>
    <string>sad-arab.init</string>
    <string>dad-arab</string>
    <string>dad-arab.fina</string>
    <string>dad-arab.medi</string>
    <string>dad-arab.init</string>
    <string>tah-arab</string>
    <string>tah-arab.fina</string>
    <string>tah-arab.medi</string>
    <string>tah-arab.init</string>
    <string>zah-arab</string>
    <string>zah-arab.fina</string>
    <string>zah-arab.medi</string>
    <string>zah-arab.init</string>
    <string>ain-arab</string>
    <string>ain-arab.fina</string>
    <string>ain-arab.medi</string>
    <string>ain-arab.init</string>
    <string>ghain-arab</string>
    <string>ghain-arab.fina</string>
    <string>ghain-arab.medi</string>
    <string>ghain-arab.init</string>
    <string>feh-arab</string>
    <string>feh-arab.fina</string>
    <string>feh-arab.medi</string>
    <string>feh-arab.init</string>
    <string>veh-arab</string>
    <string>veh-arab.fina</string>
    <string>veh-arab.medi</string>
    <string>veh-arab.init</string>
    <string>dotlessfeh-arab</string>
    <string>dotlessfeh-arab.fina</string>
    <string>dotlessfeh-arab.medi</string>
    <string>dotlessfeh-arab.init</string>
    <string>dotlessqaf-arab</string>
    <string>dotlessqaf-arab.fina</string>
    <string>qaf-arab</string>
    <string>qaf-arab.fina</string>
    <string>qaf-arab.medi</string>
    <string>qaf-arab.init</string>
    <string>kaf-arab</string>
    <string>kaf-arab.fina</string>
    <string>kaf-arab.medi</string>
    <string>kaf-arab.init</string>
    <string>lam-arab</string>
    <string>lam-arab.fina</string>
    <string>lam-arab.medi</string>
    <string>lam-arab.init</string>
    <string>meem-arab</string>
    <string>meem-arab.fina</string>
    <string>meem-arab.medi</string>
    <string>meem-arab.init</string>
    <string>noon-arab</string>
    <string>noon-arab.fina</string>
    <string>noon-arab.medi</string>
    <string>noon-arab.init</string>
    <string>noonghunna-arab</string>
    <string>noonghunna-arab.fina</string>
    <string>heh-arab</string>
    <string>heh-arab.fina</string>
    <string>heh-arab.medi</string>
    <string>heh-arab.init</string>
    <string>tehmarbuta-arab</string>
    <string>tehmarbuta-arab.fina</string>
    <string>waw-arab</string>
    <string>waw-arab.fina</string>
    <string>wawhamzaabove-arab</string>
    <string>wawhamzaabove-arab.fina</string>
    <string>alefmaksura-arab</string>
    <string>alefmaksura-arab.fina</string>
    <string>yeh-arab</string>
    <string>yeh-arab.fina</string>
    <string>yeh-arab.medi</string>
    <string>yeh-arab.alt.medi</string>
    <string>yeh-arab.init</string>
    <string>yeh-arab.alt.init</string>
    <string>yehhamzaabove-arab</string>
    <string>yehhamzaabove-arab.fina</string>
    <string>yehhamzaabove-arab.medi</string>
    <string>yehhamzaabove-arab.init</string>
    <string>arabictatweelmod</string>
    <string>lamalef-arab.isol</string>
    <string>lamalef-arab.fina</string>
    <string>lamalefhamzaabove-arab.isol</string>
    <string>lamalefhamzaabove-arab.fina</string>
    <string>lamalefhamzabelow-arab.isol</string>
    <string>lamalefhamzabelow-arab.fina</string>
    <string>lamalefmaddaabove-arab.isol</string>
    <string>lamalefmaddaabove-arab.fina</string>
    <string>lam_alefwasla-arab</string>
    <string>lam_alefwasla-arab.fina</string>
    <string>decimalseparator-arab</string>
    <string>thousandsseparator-arab</string>
    <string>arabicindiczero-arab</string>
    <string>arabicindicone-arab</string>
    <string>arabicindictwo-arab</string>
    <string>arabicindicthree-arab</string>
    <string>arabicindicfour-arab</string>
    <string>arabicindicfive-arab</string>
    <string>arabicindicsix-arab</string>
    <string>arabicindicseven-arab</string>
    <string>arabicindiceight-arab</string>
    <string>arabicindicnine-arab</string>
    <string>fullstop-arab</string>
    <string>arabiccomma</string>
    <string>arabicsemicolon</string>
    <string>arabicquestionmark</string>
    <string>fivepointedstar-arab</string>
    <string>ornateparenleft</string>
    <string>ornateparenright</string>
    <string>percentsign-arab</string>
    <string>symboldotaccentmod-arab</string>
    <string>symboldotbelowmod-arab</string>
    <string>symboltwodotsabovemod-arab</string>
    <string>symboltwodotsbelowmod-arab</string>
    <string>symbolthreedotsabovemod-arab</string>
    <string>waslaar</string>
    <string>arabicalefcomb</string>
    <string>alefcomb-arab</string>
    <string>arabichamzacomb</string>
    <string>arabichamzabelowcomb</string>
    <string>arabichamzacomb_arabicdammacomb</string>
    <string>arabichamzacomb_arabicdammatancomb</string>
    <string>arabichamzacomb_arabicfathacomb</string>
    <string>arabichamzacomb_arabicfathatancomb</string>
    <string>arabichamzacomb_arabicsukuncomb</string>
    <string>arabichamzabelowcomb_arabickasracomb</string>
    <string>arabichamzabelowcomb_arabickasratancomb</string>
    <string>arabicfathatancomb</string>
    <string>arabicdammatancomb</string>
    <string>arabickasratancomb</string>
    <string>arabicfathacomb</string>
    <string>arabicdammacomb</string>
    <string>arabickasracomb</string>
    <string>arabicshaddacomb</string>
    <string>arabicsukuncomb</string>
    <string>arabicmaddahcomb</string>
    <string>arabicshaddacomb_arabicalefcomb</string>
    <string>arabicshaddacomb_arabicdammacomb</string>
    <string>arabicshaddacomb_arabicdammatancomb</string>
    <string>arabicshaddacomb_arabicfathacomb</string>
    <string>arabicshaddacomb_arabicfathatancomb.1</string>
    <string>arabicshaddacomb_arabickasracomb</string>
    <string>arabicshaddacomb_arabickasratancomb</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphenminus</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
  </array>
  <key>public.openTypeMeta</key>
  <dict>
    <key>dlng</key>
    <string>ar</string>
    <key>slng</key>
    <string>ar</string>
  </dict>
</dict>
</plist>
